<header id="content-header">
<h1>Reviews for <%= link_to(@movie.title, @movie) %>
</header>
<% @reviews.each do |review| %>
<h2>Reviewers Name: <%= link_to review.name %></h2>
<h3><%= pluralize(review.stars, "star") %></h3>
<h3>Comment: <%= review.comment %></h3>
<% end %>